@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/** Váriaveis css*/
:root{
  --placeholder-color: #A6A4A4;
  --btn-color:#D9D9D9;
  --font-family: "inter",  sans-serif;
  --btn-color--hover:#aaaaaa;
}
/** container login
  define o comportamento geral do conteúdo e a font
*/
.container-login{
  display: flex;
  min-width: 65vw;
  flex-direction: column;
  font-family: var(--font-family);
  border: 2px solid rgba(255,255,255,0.10);
  padding: 3rem;
  border-radius: 10px;
  background-color: rgba(204, 199, 199, 0.048);
  backdrop-filter: blur(100px);
}
/** login-form
  O corpo do formulário
  define o espaçamento e o alinhamento dos elementos.
*/
.login-form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
  width: 100%;
 
}

/**  option-login-form
  modificar a direção do menu.
  define um novo tipo de espaçamento.
*/
.option-login-form{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

/**  definem o tamanho do texto, cor, tamanho do input*/
.login-form label{
  font-size: 2.5rem;
  text-transform: uppercase;
}
.login-form input{
  width: 100%;
  height: 3.6rem;
  border-radius: 10px;
}
.login-form input::placeholder{
  color: var(--placeholder-color);
  font-size: 1.3rem;
}

/** Para deixar o botão centralizado em relação ao formulário*/
.btn-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/** caracteristicas do botão */
.btn-form{
  width: 30%;
  height: 80px;
  border-radius: 35px;
  border: none;
  background-color: var(--btn-color);
  font-size: 3rem;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
.btn-form:hover{
  background-color: var(--btn-color--hover);
}
/** Estilo de links padrão */
a{
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  
}
.register-Link{
  text-decoration: none;
}
.register-Link span{
  font-weight: bolder;
}


